body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:active {
  color: #00b700;
}

#wrapper {
  text-align: left;
}

#status {
  display: none;
}

#window {
}

tr, td {
  margin: 0;
  padding: 0;
}

#clients {
  border-top: 1px solid #aaa;
}

#window tr td:first-child {
  padding: 5px;
  background: #ececec;
  color: #acacac;
  border-right: 1px solid #ddd;
  width: 100px;
  text-align: right;
}

#window tr td:nth-child(2) {
  padding: 5px;
  vertical-align: middle;
  background: #fff;
}

.event {
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
  font-size: 12px;
  height: 20px;
  width: 100%;
}

.event.connect {
  color: green;
}

.event.disconnect {
  color: red;
}

.event.changename {
  color: blue;
}

.timestamp {
  float: right;
}



@media screen and (max-device-width: 480px){

body{
  -webkit-text-size-adjust:none;
  font-size: 12px;
  padding:5px;
}

#wrapper {
  width: 100%;
}

#window {
  padding: 0;
}

}
